# GPSLogger Settings template
# accountID: {6}
# deviceID: {5}
keep_fix;true;Boolean
new_file_static_name;gpslogger;String
smtp_server;smtp.domain.com;String
smtp_ssl;false;Boolean
autosend_enabled;false;Boolean
log_plain_text;false;Boolean
autoemail_preset;99;String
new_file_creation;everystart;String
flying_pref_glider_name;Hangglider;String
autoemail_target;user@domain.com;String
autosend_sendzip;true;Boolean
autoopengts_server_path;{1};String
opengts_server_port;{2};String
opengts_server_communication_method;HTTP/GET;String
opengts_distance_before_logging;10;String
autosend_frequency;0;String
log_kml;false;Boolean
smtp_password;password123;String
autoopengts_enabled;true;Boolean
retry_time;0;String
preference_mode;advanced;String
opengts_server;{0};String
log_gpx;true;Boolean
debugtofile_advancedP;true;Boolean
accuracy_before_logging;0;String
msg_template;LATD LATM LATS LOND LONM LONS LATDD LONDD;String
show_notification;true;Boolean
opengts_device_id;{3};String
smtp_username;user@domain.com;String
smtp_port;25;String
log_igc;true;Boolean
autoemail_enabled;true;Boolean
crit_battery;15;String
distance_before_logging;1;String
log_opengts;true;Boolean
smtp_from;user@domain.com;String
debugtofile;true;Boolean
flying_pref_pilot_name;{4};String
time_before_logging;20;String
opengts_enabled;true;Boolean
opengts_interval;30;String
