# GPSLogger Settings template
# accountID: {5}
# deviceID: {4}
autoopengts_enabled;true;Boolean
log_opengts;true;Boolean
opengts_enabled;true;Boolean
opengts_server;{0};String
autoopengts_server_path;{1};String
opengts_server_port;{2};String
opengts_server_communication_method;HTTP/GET;String
opengts_interval;30;String
opengts_distance_before_logging;10;String
opengts_device_id;{3};String
